{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.min.css">-->
{% endblock %}

{% block body %}

    <div class="container contact-form">
        <h1>Me laisser un petit mot</h1>
        <hr>

        <div class="row">

            <div class="col-md-6">
                <address>132 Rue gambetta 51100 Reims</address>
                <p>Email - nelsonalikou@gmail.com</p>
                <p>Téléphone - 0749380576</p>
            </div>

            <div class="col-md-6">

                <div class="form-group">
                    <label for="0">Nom</label>
                    <input id="0" type="text" class="form-control">

                </div>

                <div class="form-group">
                    <label for="1">Email</label>
                    <input id="1" type="email" class="form-control">

                </div>

                <div class="form-group">
                    <label for="2">Message </label>
                    <textarea id="2" class="form-control" rows="7"></textarea>

                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block">Envoyer</button>
                </div>

            </div>

        </div>

    </div>

{% endblock %}



