.titre{
    margin-top: 10px;
    text-align: center;
}

.slider{
    width : 400px;
    height: 400px;
    overflow: hidden;
    margin: 50px auto;
}

img[src*="competences"]{
    width : 400px;
    height: 400px;
}

@media screen and (max-width: 450px) {
    img[src*="competences"]{
        width : 200px;
        height: 200px;
    }
    .slider{
        width : 200px;
        height: 200px;
    }

    /*Pour 2 slides*/
    .slides2{
        width: calc(200px * 2);
        animation: move2 4s infinite;
    }

    @keyframes move2 {
        0% {
            transform: translateX(0px);
        }
        25% {
            transform: translateX(0px);
        }
        50% {
            transform: translateX(-200px);
        }
        75% {
            transform: translateX(-200px);
        }
        100% {
            transform: translateX(0px);
        }
    }

    /*Pour 6 slides*/
    .slides6{
        width: calc(200px * 6);
        animation: move6 12s infinite;
    }

    @keyframes move6 {
        0% {
            transform: translateX(0px);
        }
        16% {
            transform: translateX(-200px);
        }
        33% {
            transform: translateX(-400px);
        }
        49% {
            transform: translateX(-600px);
        }
        65% {
            transform: translateX(-800px);
        }
        81% {
            transform: translateX(-1000px);
        }
        100% {
            transform: translateX(0px);
        }
    }
}


.slide {
    float: left;
}

/*Pour 2 slides*/
.slides2{
    width: calc(400px * 2);
    animation: move2 4s infinite;
}

@keyframes move2 {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-400px);
    }
    75% {
        transform: translateX(-400px);
    }
    100% {
        transform: translateX(0px);
    }
}

/*Pour 6 slides*/
.slides6{
    width: calc(400px * 6);
    animation: move6 12s infinite;
}

@keyframes move6 {
    0% {
        transform: translateX(0px);
    }
    16% {
        transform: translateX(-400px);
    }
    33% {
        transform: translateX(-800px);
    }
    49% {
        transform: translateX(-1200px);
    }
    65% {
        transform: translateX(-1600px);
    }
    81% {
        transform: translateX(-2000px);
    }
    100% {
        transform: translateX(0px);
    }
}



