*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    overflow: hidden;
    display: flex;
    /* Fonctionne avec toutes les tailles */
    width: 10%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    /* pour rotate on enlève le translate et on rajoute le rotate */
    /* transform:  rotate(90deg); */
}
.txt {
    white-space: nowrap;
    font-size: 50px;
    animation: scrollTxt 25s linear infinite;
}

.t1 {
    /* color: red; */
}
.t2 {
    /* color: blue; */
}
@keyframes scrollTxt {
    0%{
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}