*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    overflow: hidden;
    display: flex;
    /* Fonctionne avec toutes les tailles */
    width: 10%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    /* pour rotate on enlève le translate et on rajoute le rotate */
    /* transform:  rotate(90deg); */
}
.txt {
    white-space: nowrap;
    font-size: 50px;
    animation: scrollTxt 25s linear infinite;
}

.t1 {
    /* color: red; */
}
.t2 {
    /* color: blue; */
}
@keyframes scrollTxt {
    0%{
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}


/* effet texte */
.ml9 {
    position: relative;
    font-weight: 200;
    font-size: 4em;
}

.ml9 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
}

.ml9 .letter {
    transform-origin: 50% 100%;
    display: inline-block;
    line-height: 1em;
}