<footer class="footer">
    <div>©Copyright - 2021 All rights reserved</div>
    <div>Politique de confidentialité</div>
    <div class="d-flex flex-column align-items-center">
        <h4 class="mb-4">Nous suivre</h4>
        <ul>
            <li><span class="social-icon social-facebook"><i class="fa fa-facebook"></i></span></li>
            <li><span class="social-icon social-google"><i class="fa fa-google"></i></span></li>
            <li><span class="social-icon social-linkedin"><i class="fa fa-linkedin"></i></span></li>
            <li><span class="social-icon social-instagram"><i class="fa fa-instagram"></i></span></li>
            <li><span class="social-icon social-twitter"><i class="fa fa-twitter"></i></span></li>
        </ul>
    </div>
</footer>