<footer class="footer">
    <div>©Copyright - 2021 All rights reserved</div>
    <!--<div>Politique de confidentialité</div>-->
    <div class="d-flex flex-column align-items-center">
        <!--<h4 class="mb-4">Me suivre</h4> -->
        <ul>
            <li><span class="social-icon social-facebook"> <a href="https://www.facebook.com/people/Nelson-Alikou/100011206907528"> <i class="fa fa-facebook"> </i> </a> </span></li>
            <li><span class="social-icon social-linkedin"> <a href="https://www.linkedin.com/in/nelson-alikou"> <i class="fa fa-linkedin"> </i> </a> </span></li>
        </ul>
    </div>
</footer>